footer.grid {
  border-top: 1px solid rgba(#d7d7d7, 0.4);
  margin-top: 2em;
  padding-top: 2em;

  @media screen and (max-width: $mobile) {
    grid-gap: 1.5em;
  }

  h3 {
    color: #797979;
    font: 700 var(--ms0)/1 var(--ui-face);
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  li {
    font: 400 var(--ms0)/1 var(--ui-face);
    margin-bottom: 0.2em;
    padding: 0.2em 0;
  }

  p {
    font: 400 var(--ms1)/1.3 var(--ui-face);

    a {
      color: var(--red);
    }
  }

  .footer-type-list {
    @media screen and (max-width: $tablet) {
      grid-area: span 1 / span 4;
    }

    @media screen and (max-width: $mobile) {
      grid-area: span 1 / span 6;
    }
  }

  .footer-patreon,
  .footer-newsletter {
    @media screen and (max-width: $tablet) {
      grid-area: span 1 / span 12;
    }

    @media screen and (max-width: $mobile) {
      grid-area: span 1 / span 6;
    }
  }

  .footer-patreon-content {
    display: flex;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }

    .patreon-logo {
      margin: 0.25em 1em 0 0;

      img {
        height: 3.375rem;
      }
    }
  }

  .subscribe-form {
    margin: 0.5em 0;

    form {
      display: flex;
      font: var(--ms1) var(--ui-face);
    }

    label {
      display: none;
    }

    input[type='text'] {
      -webkit-appearance: none;
      border: 1px solid #000;
      border-radius: 0;
      border-right: 0;
      flex-grow: 2;
      outline: none;
      padding: 0.75em;
      min-width: 100px;
    }

    input[type='submit'] {
      @extend %reset-button;
      background: #000;
      color: #FFF;
      font-weight: 700;
      padding: 0.75em 1.5em;
    }
  }
}
